<% title ["成都非凡艺术文化培训学校"].join(' - ') %>
<% meta_keywords ["成都非凡艺术文化培训学校"].join(' - ') %>
<% meta_description ["成都非凡艺术文化培训学校"].join(' - ') %>


<div class="Ucontainer">
	<div class="row1 transparent">
	  <div class="Ucontent">
	    A-1: 290*382
	  </div>
	</div>
	<div class="row2 transparent">
	  <%= image_tag asset_path("home/e190x190.jpg") %>
	</div>
	<div class="row2 transparent">
	  <%=render :partial => 'layouts/slider_teachers', :locals => {:css => 'slider_teacher_1', :arr => [1,2,3,4,5]} %>
	</div>
	<div class="row3 transparent" style="width: 286px;">
	  <p>
	  <br/><br/><br/>
	  <%= link_to image_tag(asset_path('online_jianzhang.png')), '#' %><br/><br/>
	  <%= link_to image_tag(asset_path('online_baoming.png')), '#' %> 
	  </p>
	</div>
	<div class="row2 transparent">
	  <%=render :partial => 'layouts/slider_teachers', :locals => {:css => 'slider_teacher_2', :arr => [2,3,4,5,1]} %>
	</div>
	<div class="row2 transparent">
		<%= image_tag asset_path("home/f190x190.jpg") %>
	</div>
	<div class="row4 transparent">
		<%= image_tag asset_path("home/g93x190.jpg") %>
	</div>
	<div class="row2 transparent" style="width: 189px;">
	  <%= image_tag asset_path("home/h190x190.jpg") %>
	</div>
	<DIV style="float: left; width: 290px; height: 480px; margin: 0 4px 4px 0;">
	  <div class="row5 transparent">
	  	<%#=render :partial => 'layouts/slider_zuopin', :locals => {:css => 'slider_zuopin_1', :arr => [1,2,3,4,5]} %>
	  	<div style="background: #333;">
	  		<p>学员作品展</p>
	  	</div>
	  </div>
	  <div class="row3 transparent"><%= image_tag asset_path("home/L290x190.jpg") %></div>
	</DIV>
	<div class="row2 transparent">
	 <%= image_tag asset_path("home/c-2 190x190.jpg") %>
	</div>
	<div class="row6 transparent">
	 <%= image_tag asset_path("home/k480x190.jpg") %>
	</div>
	<div class="row7 transparent">
	  <%= image_tag asset_path("home/M.jpg") %>
	</div>
	<div class="row5 transparent">
		<%=render :partial => 'layouts/slider_zuopin', :locals => {:css => 'slider_zuopin_2', :arr => [2,3,4,5,1]} %>
	</div>
	<div class="row2 transparent"><%=render :partial => 'layouts/slider_students', :locals => {:css => 'slider_student_1', :arr => [1,2,3,4,5]} %></div>
	<div class="row2 transparent"><%=render :partial => 'layouts/slider_students', :locals => {:css => 'slider_student_2', :arr => [2,3,4,5,1]} %></div>
	<div class="row5 transparent" style="width: 286px;"><%= image_tag asset_path("home/Q286x290.jpg")%></div>
	<div class="row3 transparent"><%= image_tag asset_path("home/R290x190.jpg") %></div>
	<div class="row7 transparent" style="margin-top: -98px; width: 384px;">		<%= image_tag asset_path("home/S384x290.jpg"), :width => 384 %>	</div>
	<div class="row2 transparent"><%=render :partial => 'layouts/slider_students', :locals => {:css => 'slider_student_3', :arr => [6,7,8,9,10]} %></div>
	<div class="row4 transparent" style="width: 92px;">
		<%= image_tag asset_path("home/g-4 92x190.jpg"), :width => 92 %>
	</div>
	<div class="row8 transparent" style="margin-top: -98px;"><%=render :partial => 'layouts/slider_zuopin', :locals => {:css => 'slider_zuopin_3', :arr => [3,4,5,1,2]} %></div>
</div>