<div class="intro-text">
  <div id='slideshow1'>
    <%=image_tag asset_path("slider1.png")%>
    <%=image_tag asset_path("slider2.png")%>
    <%=image_tag asset_path("slider3.png")%>
    <%=image_tag asset_path("slider4.png")%>
    <%=image_tag asset_path("slider5.png")%>
    <%#=image_tag asset_path("slide_b_03.jpg"), :width=>"250px"%>
  </div>
</div>