<div class="side_box">
<div id="<%= css %>">
  <%=image_tag asset_path("teachers/1.jpg")%>
  <%=image_tag asset_path("teachers/2.jpg")%>
  <%=image_tag asset_path("teachers/3.jpg")%>
  <%=image_tag asset_path("teachers/4.jpg")%>
  <%=image_tag asset_path("teachers/5.jpg")%>
  <%#=image_tag asset_path("slide_b_03.jpg"), :width=>"250px"%>
</div>
</div>