<!DOCTYPE html> 
<html> 
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Language" content="zh-cn" />
  <meta name="robots" content="all" />
  <meta name="author" content="inruby" />
  <meta name="Copyright" content="Inruby Lcd, All Rights Reserved." />
  <title><%= yield(:title) %> </title>
  <meta name="keywords" content="<%= yield(:meta_keywords)%>" />
  <meta name="description" content="<%= yield(:meta_description)%>" />
    
  <%= stylesheet_link_tag    "application" %>
  <% if request['controller'] == 'home' %>
    <%= stylesheet_link_tag    "home" %>
  <% end %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    $(document).ready(function(){
      // $("#top_banner_flip").mouseover(function(){
      //   $("#top_banner").slideToggle("slow");
      // });

      //slide show 
      //$('#slider_teacher_1').sliders({ delay: 4500, speed: 800, ease: 'swing' });
      //$('#slider_teacher_2').sliders({ delay: 4500, speed: 800, ease: 'swing' });
      $('#slider_teacher_1').cycle({
        fx: 'scrollDown', // choose your transition type, ex: fade, scrollUp, shuffle, etc...
        sync: 0,
        speed: 500,
        timeout: 8000,
        delay: 2000 
      });

      $('#slider_teacher_2').cycle({
        fx: 'scrollDown', // choose your transition type, ex: fade, scrollUp, shuffle, etc...
        sync:  0,
        speed: 500,
        timeout: 8000,
        delay: 2000 
      });
    
      $('#slider_teacher_3').cycle({
        fx:      'custom', 
        sync: 0, 
        cssBefore: {  
            top:  0, 
            left: 232, 
            display: 'block' 
        }, 
        animIn:  { 
            left: 0 
        }, 
        animOut: {  
            top: 232 
        },
        height: 190,
        width: 190,
        slideResize: 1,
        delay: -1000 
      });

    });
  </script>
  <!--[if lt IE 7]>
    <link href="/assets/ie_style.css" rel="stylesheet" type="text/css" />
  <![endif]-->

</head> 

<body screen_capture_injected="true">
  <%=render :partial => "layouts/header" %>
  <div id="bodyPan">
    <% if request['controller'] == 'home' %>
      <%= yield %>
    <% else %>
      <div id="bodyleftPan">
        <%= yield %>
      </div>
      <div id="bodyrightPan">
        <%=render :partial => "layouts/aside" %>
        <%= yield :aside %>
      </div>
    <% end %>
  </div>
  <%=render :partial => "layouts/footer" %>
</body>
</html>